<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%=campgrounds._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campgrounds[title]" value="<%=campgrounds.title%>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">location</label>
                    <input class="form-control" type="text" id="location" name="campgrounds[location]" value="<%=campgrounds.location%>" required>
                </div> 
                <div class="mb-3">
                    <label class="form-label" for="image">Add Images</label>
                    <input class="form-control" type="file" name="image" id="image" multiple>
                </div> 
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" id="price" name="campgrounds[price]" value="<%=campgrounds.price%>"aria-label="Amount (to the nearest dollar)" required>
                        <span class="input-group-text">.00</span>
                      </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campgrounds[description]" required><%=campgrounds.description%></textarea>
                </div> 
                <div class="mb-3">
                    <% campgrounds.image.forEach((img,i)=>{%>
                        <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="">Delete?</label>
                        <%})%>
                    </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>      
            </form>
            <a href="/campgrounds/<%=campgrounds._id%>">Back to campground</a>
        </div>
    </div>
